<div class="new-card">
    <div class='new-card-forms'>
        <form #form [noValidate]='false' (ngSubmit)='onSubmit($event)'>
            <div class='new-card-title'>
                <input [(ngModel)]='card.title' type="text" name='cardTitle' [required]='true' placeholder="Card title"
                    class="form-control form-control-sm" autocomplete="off">
            </div>

            <div class='new-card-description'>
                <textarea [(ngModel)]='card.description' name="cardDescription" [required]='true' placeholder="Card description"
                    class='form-control form-control-sm' cols="30" rows="10"></textarea>
            </div>

            <div class="new-card-buttons">
                <button name='btnSubmit' type='submit' class="btn btn-sm btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>