<app-modal #modal [modalSize]='modalSize' [modalTitle]='modalTitle'>
    <app-modal-body>
        <h5>Are you sure you want to delete the card list '{{cardList?.name}}'?</h5>
    </app-modal-body>

    <app-modal-footer>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-light" (click)='cancel()'>
                    Cancel
                </button>
            </div>
            <div class="col text-right">
                <button class="btn btn-lg btn-danger" (click)='deleteCardList()'>
                    Delete
                </button>
            </div>
        </div>
    </app-modal-footer>
</app-modal>