/* You can add global styles to this file, and also import other style files */
* {
    color: white;
}

html, body{
    background: #444444 !important;
    height: 100%;
    width: 100%;
}

.container-fluid{
    background: transparent;
}
