<div class="card-list">
    <div class="card-list-title">
        <h5>{{cardList.name}}</h5>
    </div>

    <div cdkDropList [cdkDropListData]="cardList.cards" class="card-list-itens {{draggingClass}}" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let card of cardList.cards" cdkDrag>
            <app-card [card]='card'></app-card>
            <div *cdkDragPlaceholder class="card-list-placeholder"></div>
        </div>
    </div>
    <div class="card-list-new-item">

    </div>
</div>