<div class="card-list">
    <div class="card-list-title" *ngIf='!updatingCardListName' (click)='onClickTitle()'>
        <h5>{{cardList.name}}</h5>
    </div>

    <div class="card-list-title updating" [hidden]='!updatingCardListName'>
        <form (submit)='onSubmit()'>
            <input #listName name='listName' [(ngModel)]='cardListNameUpdating' class="form-control form-control-sm"
                placeholder="List name" (blur)='onNameKeyDown()'>
        </form>
    </div>

    <div cdkDropList [cdkDropListData]="cardList.cards" class="card-list-itens" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let card of cardList.cards">
            <div (mouseup)='onCardMouseUp(card)' cdkDrag>
                <app-view-card [card]='card'></app-view-card>
                <div *cdkDragPlaceholder class="card-list-placeholder"></div>
            </div>
        </div>
    </div>

    <app-new-card [cardListGuid]='cardList?.guid'></app-new-card>
</div>

<app-edit-card #editCard></app-edit-card>