<app-modal #modal [modalSize]='modalSize'>
    <div class="app-modal-body">
        <form>
            <div class="form-group">
                <label for='title'>Title</label>
                <input id='title' name='title' [(ngModel)]='card.title' type="text" class="form-control form-control-lg"
                    placeholder="Title" autocomplete="false">
            </div>

            <div class="form-group">
                <label for='description'>Description</label>
                <textarea id='description' name='description' [(ngModel)]='card.description'
                    class="form-control form-control-lg" placeholder="Description"></textarea>
            </div>
        </form>
    </div>

    <div class="app-modal-footer">
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-light" (click)='onCancelClick()'>Cancel</button>
            </div>
            <div class="col text-right">
                <button class="btn btn-lg btn-dark" (click)='onSaveClick()'>Save</button>
            </div>
        </div>
    </div>
</app-modal>